.title{
    font-family: pixel;
    color: #ECECEC;
    font-size: 50px;
    text-align: left;
}
.links{
    padding-top: 15px;
    
}
/* .icon{
    max-height: 50px;
    max-width: 116px;
}

.icon2{
    max-height: 40px;
    max-width: 40px ;
} */
.links2{
    padding-left: 20px;
}
.punks{
    text-align: center;
}
body{
    background-color: #607d8b;
}


.bottom{
    /* right: 0px;
    bottom: 25px;
    position: relative; */
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: right;
  }

@font-face {
    font-family: pixel;
    src: url(slkscr.ttf);
  }


.tour{
      text-align: center;
      padding-top: 10px;
  }

.tour2{
    text-align: center;
    padding-top: 30px;
}