.title{
    font-family: pixel;
    color: #000000;
    font-size: 50px;
    text-align: left;
}
.links{
    padding-top: 15px;
    
}
/* .icon{
    max-height: 50px;
    max-width: 116px;
}

.icon2{
    max-height: 40px;
    max-width: 40px ;
} */
.links2{
    padding-left: 20px;
}
.punks{
    text-align: center;
    background-color: #d4af37;
}
body{
    background-color: #607d8b;
    /* background-color: #d4af37; */
}
.punks2{
    text-align: center;
    background-color: #607d8b;
}
.punks3{
    text-align: center;
    background-color: #ba68c8;
}
.punks4{
    text-align: center;
    background-color: #8cb38d;
}
.punks5{
    text-align: center;
    background-color: #8f4b47 ;
}
.punks6{
    text-align: center;
    background-color: #9bcaf5 ;
}
.tops{
    background-color: #9bcaf5;
}
.bottom{
    /* right: 0px;
    bottom: 25px;
    position: relative; */
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: right;
    background-color: #607d8b;
  }


.socials{
    
    /* right: 0; */
    top: 20%;
    position: fixed;
    
}

@media only screen and (min-width: 800px) {
    .socials{
        text-align: left;
        position: fixed
  }
}
@font-face {
    font-family: pixel;
    src: url(slkscr.ttf);
  }


/* .tour{
      text-align: center;
      padding-top: 10px;
  }

.tour2{
    text-align: center;
    padding-top: 30px;
} */